body {
  background-color: ivory;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}
.center-content {
  display: flex;
  justify-content: space-around;
}

.canvas {
  margin: 0;
  display: grid;
  width: 500px;
  height: 500px;
  border: solid black; 
}

.canvas-units {
  background-color: white;  
}

.left-content {
  width: 250px;
  margin-left: 50px;
}

.right-content {
  display: flex;
  flex-basis: 60%;
}

.controls {
  display: flex;
  flex-direction: column;
}

.styling-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.color-area {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-grid {
  display: flex;
  flex-direction: column;
}

.btns-top {
  display: flex;
  justify-content: space-between;
}
 
.btns-bottom {
  display: flex;
}

.grid-btn {
  width: 300px;
  margin: 10px;
}

#color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

#color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

button {
  background-color: #F6F1F4;
  border-color: #EBF5F0;
  border-radius: 15px;  
  padding: 10px;
}

label {
  font-size: 17px;
  font-weight: 100;
}

dialog {
  border-radius: 15px;

}

dialog::backdrop{
  background: black;
  opacity: .9;
}

.user-int {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.canvas-num {
  width: 40px;
  font-size: larger;
  text-align: center;
}

p {
  display: flex;
  justify-content: center;
}

.refresh {
  display: flex;
}

#start-over {
  flex-grow: 1;  
  justify-content: center;
  margin: 10px;
}

